<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login</title>
  <!---Custom CSS File--->
  <link rel="stylesheet" href="static/css/stylelogin.css">
</head>
<body>
  <div class="container">
    <div class="login form">
      <div class="msg">{{ msg }}</div>
      <form action="{{ url_for('perfil') }}" method="post">
      <header>Meus dados</header>
      <form action="#">
        <label>ID do usuario<input type="text" id="idusuario" name="idusuario" value="{{perfilusuario.idusuario}}" readonly></label>
        <label>Email:</label><input id="emailusuario" name="emailusuario" type="text" placeholder="Email" value="{{perfilusuario.email}}" readonly></label>
        <label>Usuario:</label><input id="nomeusuario" name="nomeusuario" type="text" placeholder="Usuario" value="{{perfilusuario.nome}}"></label>
        <label>Nome completo</label><input id="nomecompleto" name="nomnomecompleto" type="text" placeholder="Nome completo" value="{{perfilusuario.nomecompleto}}"></label>
        <label>Dt nasc.</label><input id="dtnasc" name="dtnasc" type="date" placeholder="Data de nascimento" value="{{perfilusuario.dtnasc}}"></label>
        <input type="submit" class="button" value="Alterar">
      </form>
      <div class="signup">
        <!--<span class="signup">Não tem uma conta?
         <a href="/registrar">Cadastre-se</a>
        </span>-->
      </div>
    </div>

  </div>
</body>
</html>
