<!DOCTYPE html>
<!---Coding By CoderGirl | www.codinglabweb.com--->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login & Registration Form | CoderGirl</title>
  <!---Custom CSS File--->
  <link rel="stylesheet" href="static/css/stylelogin.css">
</head>
<body>
  <div class="container">
    <div class="registration form">

      <header>registrar</header>
      <form action="{{ url_for('registrar') }}" method="post">
        <input id="nomecad" name="nomecad" type="text" placeholder="Nome" required>
        <input id="emailcad" name="emailcad" type="text" placeholder="Email" required>
        <input id="passwordcad" name="passwordcad" type="password" placeholder="Senha" required>
        <input id="passwordconfcad" name="passwordconfcad" type="password" placeholder="Confirme a senha" required>
        <input type="submit" class="button" value="Cadastrar">
      </form>

    </div>
  </div>
</body>
</html>
